p{
color: #6b747b;
}
    header{
    background: linear-gradient(rgba(197, 234, 249, 1), rgba(255, 255, 255, 1));
    padding-top:10%;
}
.navbg{
    background-color: #f1f9fc;
}
.nav-setting{
    font-size:15px;
    font-weight:500;
    color:#6b747b;
}
.collapse.navbar-collapse.headersection ul li a.nav-link.active{
color:#ff6e84;
}
.collapse.navbar-collapse.headersection ul li a:hover{
    color:#ff6e84;
}
.navbar-icons .font{
    color: #594cda;
}
div#navbarSupportedContent {
    margin-right: 7%;
}
.team-para{
    margin-top:10%;
}
.buttons {
    margin-top: 6%;
}
.buttons .btn {
    width: 35%;
    height: 55px;
    background-color: #594cda;
    color: #fff;
    border-radius: 26px;
    font-weight:bold;
    font-size:16px;
}
.btn.btn2{
    background-color: #eb427e;
}
.buttons .btn:hover{
    background-color:#fff;
    border:1px solid #594cda;
    color:#594cda;
}
.btn.btn2:hover{
    background-color:#fff;
    border:1px solid #eb427e;
    color: #eb427e;
}
.btn .fa {
    padding: 3%;
}
.middle-para{
    text-align:center;
    margin:0 auto;
    margin-top:6%;
}
.middle-para p{
    font-size:33px;
    color: #252c38;
}
img.card-img-center {
    width: 70px;
    text-align: center;
    margin: 0 auto;
    padding-top: 12%;
}
section.box{
    margin-top:8%;
}
.card.box {
    background-color: #f1f9fc;
    border: none;
    height: 254px;
    width: 98%;
}
.row.row2 {
    margin-top: 2%;
}
.row.imgpara1, .imgpara2, .row.imgpara3 {
    margin-top: 10%;
}
.imgpara1 p, .imgpara2 p, .imgpara3 p{
    margin-top:6%;
}
.row.imgpara1 h2, .imgpara2 h2, .row.imgpara3 h2{
    font-weight:bold;
    font-size: 37px;
    margin-top:10%;
}
.row .fig{
    margin-top:10%;
}
.imgpara2 {
    padding-left: 12%;
}
.listfont{
    font-size:60px;
    padding:4%;
}
.numbers{
    margin-top:4%;
}
.imgsetting {
    margin-top: -50%;
}
.imgsetting p, .imgsetting h2{
    color:#fff;
}
.imgsetting p{
    margin: 2% 16%;
    font-size: 19px;
}
.bgimg img{
    background: linear-gradient(rgb(50 60 70), rgba(50, 60, 70, 0.9));
}
.pricing-card{
    height: 437px;
    width: 380px;
    padding: 2%;
    font-size: 17px;
    margin-top: -100%;
    border-radius: 2%;
    }
    .buttons.btn-pricing {
        margin-top: 3%;
    }
    .pricing-card h5{
        color:#eb427e;
    }
    span.dollar {
        font-size: 27px;
        vertical-align: 34%;
}
    .cardsub {
        font-size: 61px;
    }
    .cardtxt {
        text-align: left;
        padding-left: 9%;
    }
    section.team-mgmnt{
        margin-top:10%;
    }
    .conclusion-para{
        margin-top:14%;
        padding-left: 7%;
    }
    .footer-para h4 {
        font-size: 29px;
        margin: 15% 13%;
    }
    footer{
        background: linear-gradient(rgba(255, 255, 255, 1), rgba(197, 234, 249, 1));
    }
    .socialfig {
        background-color: #fff;
        border-radius: 100%;
        padding: 16px;
        font-size: 28px;
        color:black;
    }
    .socialfig:hover{
        background-color: black;
        color:#fff;
    }
    .social-icons {
        margin-top: -11%;
    }